.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
  }
  
  .text {
    grid-column: 1 / 2;
  }
.texto2{
    display: flex;
    align-items: flex-start;
    justify-content:left     ;
}